.example-spacer {
  flex: 1 1 auto;
}
.logo img{
  width: 10%;
}
.nav a{
  text-decoration: none;
  color: aliceblue;
  padding-left: 20px;
  font-size: medium;

}
.nav a:hover{
  color: darkorange;
}
