<div class="logo">
  <img src="../../assets/img/logo.png" alt="MZCET_logo">
</div>
<mat-toolbar color="primary">
  <mat-toolbar-row class="nav">
    <span>MZCET</span>
    <span class="example-spacer"></span>
    <span><a routerLink="/home">Home</a></span>
    <span>
     <a href="">
      <button #menuTrigger="matMenuTrigger" mat-button [matMenuTriggerFor]="menu"(mouseenter)="menuTrigger.openMenu()"(clickOutside)="menuTrigger.closeMenu()" >Departments</button>
     </a> 
    </span>

    <span><a ><button #admission="matMenuTrigger" mat-button [matMenuTriggerFor]="admissions" (mouseenter)="admission.openMenu()"  >Admission</button></a></span>
    <span><a routerLink="/contactus">Contact Us</a></span>
    <span><a routerLink="/aboutus">About Us</a></span>
    <mat-menu #menu="matMenu" (mouseleave)="menuTrigger.closeMenu()">
      <span (mouseleave)="menuTrigger.closeMenu()">
      <button mat-menu-item routerLink="/cse">Computer Science And Engineering</button>
      <button mat-menu-item routerLink="/civil">Civil Engineering</button>
      <button mat-menu-item routerLink="/ece">Electronic And Communication Engineering</button>
      <button mat-menu-item routerLink="/eee">Electrical And Electronic Engineering</button>
      <button mat-menu-item routerLink="/mech">Mechanical Engineering</button>
      </span>
    </mat-menu>
    <mat-menu #admissions (mouseleave)="admission.closeMenu()">
      <span (mouseleave)="admission.closeMenu()">
        <button mat-menu-item routerLink="/admissions" >Admission</button>
        <button mat-menu-item routerLink="/apply-online" >Apply Online</button>
      </span>

    </mat-menu>
  </mat-toolbar-row>
  
