.example-spacer {
  flex: 1 1 auto;
}
.logo img{
  width: 10%;
}
.nav a{
  text-decoration: none;
  color: aliceblue;
  padding-left: 20px;
  font-size: medium;

}
.nav a:hover{
  color: darkorange;
}
a button{
  all:inherit ;
}
mat-menu button{
  all: inherit;
}
.mat-menu-content{
  background: #3dcfe6;
}
  
.mat-menu-item:hover{ 
  color:black;
  font-size: 110%;
  text-shadow: 10px 10px 5px rgb(83, 83, 83);
}
.mat-menu-panel {max-width: 100%!important; min-width: 64px!important;}