.example-spacer {
  flex: 1 1 auto;
}
.logo img{
  width: 100%;
}

.nav a{
  text-decoration: none;
  color: aliceblue;
  padding-left: 20px;
  font-size: medium;

}
.nav a:hover{
  color: darkorange;
}
a button{
  all:inherit ;
}
mat-menu button{
  all: inherit;
}
.mat-menu-content{
  background: #3dcfe6;
  overflow: hidden;
  padding: 2%;

}
  
.mat-menu-item:hover{ 
  color:black;
  font-size: 110%;
  text-shadow: 10px 10px 5px rgb(83, 83, 83);
}
.mat-menu-panel {max-width: 100%!important; min-width: 64px!important;}
.clubs ,.cells {
  overflow: hidden;
  text-decoration: none;
  white-space: nowrap;
  
}
.clubs a,.cells a{ 
  text-decoration: none;
  margin-top: 5%;
}
.clubs a:hover,.cells a:hover{
  color: white;
  text-shadow: 5px 5px 2px rgb(83, 83, 83) ;
}

.cell,.club{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}