<mat-tab-group>
  <mat-tab label="About Department ">
     <h2 style="text-align: center;">COMPUTER SCIENCE AND ENGINEERING</h2> 
    </mat-tab>
  <mat-tab label="About Department ">About Department </mat-tab>
  <mat-tab label="PEO & PSO"> PEO & PSO </mat-tab>
  <mat-tab label="CO & PO"> CO & PO</mat-tab>
  <mat-tab label="Curriculum Details"> Content 2 </mat-tab>
  <mat-tab label="Course Material"> Content 3 </mat-tab>
  <mat-tab label="Innovative Teaching"> PEO & PSO </mat-tab>
  <mat-tab label="Value Added Courses"> CO & PO</mat-tab>
  <mat-tab label="Laboratory Details"> Content 2 </mat-tab>
  <mat-tab label="Student Achievements"> Content 3 </mat-tab>
  <mat-tab label="Events Organized"> PEO & PSO </mat-tab>
  <mat-tab label="Students Projects"> CO & PO</mat-tab>
  <mat-tab label="Research & Development"> Content 2 </mat-tab>
  <mat-tab label="Professional Society"> Content 3 </mat-tab>
  <mat-tab label="Industry Interaction"> CO & PO</mat-tab>
  <mat-tab label="Newsletter & Magazine"> Content 2 </mat-tab>
  <mat-tab label="Contact us"> Content 3 </mat-tab>
   </mat-tab-group>