<div class="full">
    <div class="quicklink">
  
            <div class="link">
                <h2><b>QUICKLINKS</b></h2>
     
                  
                       <a href=""><span>&#10147;</span>ACADEMIC CALENDAR</a> <br>
                       <a href=""><span >&#10147;</span>CURRICULUM & SYLLABUS</a> <br>
                        <a href=""><span>&#10147;</span>MICROSOFT DREAMSPARK WEBSTORE</a> <br>
                       <a href=""><span>&#10147;</span>AUTODESK EDUCATION</a> <br>
                       <a href=""><span>&#10147;</span>TECH SUPPORT</a> <br>
                       <a href=""><span>&#10147;</span>MOODLE-VIRTUAL LEARNING</a> <br>
                       <a href=""><span>&#10147;</span>NPTEL VIDEOS</a>  <br>
                       <a href=""><span>&#10147;</span>ICT LEARNING RESOURCES</a>  <br>
                       <a href=""><span>&#10147;</span>ONLINE JOURNALS</a>  <br>
                       <a href=""> <span>&#10147;</span>OFFICIAL EMAIL</a> <br>
                       <a href=""> <span>&#10147;</span>ANTI-RAGGING COMMITTEE</a> <br>
                       <a href=""><span>&#10147;</span>STUDENT COUNSELLING</a> <br>
                       <a href=""><span>&#10147;</span>CODE OF CONDUCT HANDBOOK</a>   <br>
                       <a href=""><span>&#10147;</span>CAPACITY BUILDING AND SKILLS ENCHANCEMENT (CBSE)</a>  <br>
    </div>
    <div class="mall-slide slide">
        <div class="slid-content">
            <div class="mall-show-slide fade" *ngFor="let item of Imagedata;">
                <img src="{{item.img}}" style="width:100%">
            </div>
            <div class="mall-carousel-ind">
                <ul>
                    <li *ngFor="let item of Imagedata; let i = index;" [class.mall-this]="startIndex - 1 === i"></li>
                </ul>
            </div>
        </div>
      </div>
</div>

<div class="events">
<div class="body">
   
        <h2><b>UPCOMMING EVENTS</b> </h2>
        <div class="eventss">
            <div class="news_events">
                <h2>NEWS & EVENTS</h2>
                <div class="events_data">
                    <div class="dataevents">
                        <h3><b>  Internal Hackathon for Smart India Hackathon 2022</b></h3>
                        <P> 
                            Institution's Innovation Council of Mount Zion College of Engineering & Technology organising Internal Hackathon for Smart India Hackathon 2022, world's biggest hackathon and open innovation model, an initiative by the Ministry of Human Resource Development on 29th March 2022.
                        </P>
                        <h3><b>  Java Programming and Soft Skill DevelopmentNew</b></h3>
                        <P> 
                            Department of Computer Science and Engineering along with ICT Academy proudly organizes a two weeks hands on training on “Java programming and Soft Skill Development” exclusively for final year girl students under the auspices of Centre for Women Empowerment (COWE) powered by DXC Technology from 16/03/2022.
                        </P>
                    </div>
                  
                </div>
                
            </div>
            <div class="event_img">
                <img src="../../assets/img/graduation.jpeg" alt="EVENT_IMAGE">
            </div>
            <div class="training_placement">
                <h2>TRAINING & PLACEMENT</h2>
                <div class="events_data">
                    <div class="dataevents">
                    <h3><b>   Campus Drive 2021‐2022</b></h3>
                <P> 
                   
                    Hearty Congratulations to the selected students! ATOS conducted Virtual Interview for B.E Final Year students. A student from CSE was selected and got successfully placed.New
                </P>
                <h3><b> Campus Drive 2021‐2022</b></h3>
                <P>     
                    Hearty Congratulations to the selected students! SONY conducted Virtual Interview for B.E Final Year students. A student from CSE was selected and got successfully placed.New
                </P></div>
                </div>
                
            </div>
        </div>
        
      
    </div>
    <div class="departments">
        <h2><b>DEPARTMENTS</b></h2>
        <div class="department_list"  layout="row" layout-wrap >
            <div class="civil">
                <a href="/civil">
                <mat-card style="background-image: url('../../assets/img/1615701.jpg');">                       
                   
                      <h3> CIVIL ENGINEERING</h3>
                  </mat-card>
                 </a>
               
            </div>
           <div class="cse">
                <a href="/cse">
                    <mat-card  style="background-image: url('../../assets/img/123.jpg');">                       
                       
                      <h3>COMPUTER SCIENCE AND ENGINEERING</h3> 
                    </mat-card></a>
         
           
           </div>
           <div class="ece" >
            <a href="/ece">
                <mat-card>                       
                   
                  <h3>ELECTRONICS AND COMMUNICATION ENGINEERING</h3> 
                </mat-card>
            </a>
           </div>
           <div class="eee">
            <a href="/eee">
                <mat-card>                       
                    
                   <h3>ELECTRICAL AND ELECTRONICS ENGINEERING</h3> 
                </mat-card></a>
           </div>
            <div class="mech"> <a href="/mech">
                <mat-card>                       
                  
                    <h3>MECHANICAL ENGINEERING</h3> 
                </mat-card>
               </a>
            </div>
           <div class="appl">
            <a href="">
                <mat-card>                       
                    <img src="../../assets/img/" alt="APPLY_NOW">
                  <h3>APPLY NOW!</h3> 
                </mat-card></a>
        </div>
        </div>
    
    </div>
   
    <div class="menu">
        <a href="">
            <mat-card style="background-image: url('../../assets/img/stud-login.png')">                                
                <mat-card-footer>
                    <h3><b> Student portal</b></h3>
                   </mat-card-footer> 
            </mat-card>
        </a>

            <a href="">
                <mat-card style="background-image: url('../../assets/img/gallery.jpg')">                            
                   <mat-card-footer>
                    <h3><b>Gallery</b> </h3>
                   </mat-card-footer>         
                </mat-card>
            </a>
                <a href="">
                    <mat-card style="background-image: url('../../assets/img/campus.jpg')">                         
                       <mat-card-footer>
                        <h3><b>Campus </b> </h3>
                       </mat-card-footer>   
                    </mat-card>
                </a>
                    <a href="" >
                        <mat-card style="background-image: url('../../assets/img/feedback.jpg')">                       
                           <mat-card-footer>
                            <h3><b>Feedback</b> </h3>
                           </mat-card-footer>         
                        </mat-card></a>
    </div>
    
</div>
